body {
    color: black;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgb(61, 209, 235);
    display: flex;
    height: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.content {
    background-color: brown;
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    border-style: none;
    border-radius: 8px;
    background-color: rgb(61, 209, 235);
    width: 170px;
    height: 170px;
}

.middle {
    width: 600px;
    gap: 20px;
}

.title, .choice, .round {
    background-color: rgb(61, 209, 235);
    height: 150px;
    width: 550px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    height: 210px;
    justify-content: space-around;
}
.choice > div {
    background-color: brown;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}